### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/material_theme_project_new.xml
  .idea/frontend.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_51_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_51_PM__Changes_.xml
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_54_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_54_PM__Changes_.xml
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_55_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_55_PM_[Changes]1/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_3_25_2025_7_55_PM__Changes_.xml
  .idea/shelf/Uncommitted_changes_before_Merge_at_3_25_2025_8_07_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Merge_at_3_25_2025_8_07_PM__Changes_.xml
  .idea/shelf/Uncommitted_changes_before_Merge_at_3_25_2025_8_08_PM_[Changes]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Merge_at_3_25_2025_8_08_PM__Changes_.xml


# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/