{% extends 'base.html' %}
{% block title %}Cookie Policy - University of Tampa CIRT{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main>
        <h1>Cookie Policy</h1>
        <p>Welcome to the Criminology Institute of Research and Training website. By using our website, you agree to the use of cookies as described in this policy:</p>
        <ul>
            <li><strong>Cookies We Use:</strong> Choco Chip.</li>
            <li><strong>What Cookies Do:</strong> dont know tbh.</li>
            <li><strong>Third-Party Cookies:</strong> thin mints as well.</li>
            <li><strong>Opting Out:</strong> u cant.</li>
        </ul>
        <p>By continuing to use this site, you consent to our cookie usage as outlined in this policy.</p>
    </main>
{% endblock %}