{% extends 'base.html' %}
{% load static %}
{% block title %}Student Dashboard - University of Tampa CIRT{% endblock %}

{% block content %}
<!-- Top navigation bar -->
<div class="dashboard-navbar">
    <span id="profileBtn">Profile</span>
    <span id="needsReviewBtn">Needs to Be Reviewed</span>
    <span id="feedbackBtn">Reviewer Feedback</span>
</div>
<hr class="dashboard-divider">

<!-- Dashboard content area -->
<div id="dashboard-content" class="dashboard-content"></div>


<script src="{% static 'editor_dashboard.js' %}"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'editor_dashboard.css' %}">
{% endblock %}
