{% extends 'base.html' %}
{% block title %}CIRT Faculty - University of Tampa CIRT{% endblock %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'faculty.css' %}">
<link rel="stylesheet" href="{% static 'homepage.css' %}">
{% endblock %}


{% block content %}
<h1>Research Associates</h1>
<div class="faculty-container">
    <div class="faculty-members">
        <div class="faculty-box">
            <img src="{% static 'images/dulisse-brandon-c.jpg' %}" alt="Brandon Dulisse" class="faculty-image">
            <h2>Brandon Dulisse</h2>
            <p>Director</p>
            <p>Email: <a href="#" onclick="window.open('mailto:Bdulisse@ut.edu'); return false;">Bdulisse@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/no_photo.jpg' %}" alt="Nate Connealy" class="faculty-image">
            <h2>Nate Connealy</h2>
            <p>Associate Director of Consultation and Training</p>
            <p>Email <a href="#" onclick="window.open('mailto:Nconnealy@ut.edu'); return false;">Nconnealy@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/fitch-chivon.jpg' %}" alt="Chivon Fitch" class="faculty-image">
            <h2>Chivon Fitch</h2>
            <p>CIRT Liaison to the Industry Advisory Board</p>
            <p>Email <a href="#" onclick="window.open('mailto:Cfitch@ut.edu'); return false;">Cfitch@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/hart-tim.jpg' %}" alt="Tim Hart" class="faculty-image">
            <h2>Tim Hart</h2>
            <p>Associate Director of Research and Engagement</p>
            <p>Email <a href="#" onclick="window.open('mailto:Thart@ut.edu'); return false;">Thart@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/osuna-amanda.png' %}" alt="Amanda Osuna" class="faculty-image">
            <h2>Amanda Osuna</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:Aosuna@ut.edu'); return false;">Aosunat@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/no_photo.jpg' %}" alt="Leo Genco" class="faculty-image">
            <h2>Leo Genco</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:lgenco@ut.edu'); return false;">Lgenco@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/hilinski-rosick-carly-m.jpg' %}" alt="Carly Hilinski-Rosick" class="faculty-image">
            <h2>Carly Hilinski-Rosick</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:Chilinskirosick@ut.edu'); return false;">Chilinskirosick@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/michel-cedric.jpg' %}" alt="Cedric Michel" class="faculty-image">
            <h2>Cedric Michel</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:Cmichel@ut.edu'); return false;">Cmichel@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/branch-kathryn.jpg' %}" alt="Kathryn Branch" class="faculty-image">
            <h2>Kathryn Branch</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:kbranch@ut.edu'); return false;">kbranch@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/no_photo.jpg' %}" alt="Kayla Toohy" class="faculty-image">
            <h2>Kayla Toohy</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:ktoohy@ut.edu'); return false;">ktoohy@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/no_photo.jpg' %}" alt="Rhissa Briones Robinson" class="faculty-image">
            <h2>Rhissa Briones Robinson</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:rrobinson@ut.edu'); return false;">rrobinson@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/paez-gabriel-r.jpg' %}" alt="Gabriel Paez" class="faculty-image">
            <h2>Gabriel Paez</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('mailto:gpaez@ut.edu'); return false;">gpaez@ut.edu</a></p>
        </div>
        <div class="faculty-box">
            <img src="{% static 'images/tevlin-cassidy.jpg' %}" alt="Cassidy Tevlin" class="faculty-image">
            <h2>Cassidy Tevlin</h2>
            <p>Research Associate</p>
            <p>Email <a href="#" onclick="window.open('ctevlin:Thart@ut.edu'); return false;">ctevlin@ut.edu</a></p>
        </div>
    
    </div>
</div>
{% endblock %}