{% extends 'base.html' %}
{% block title %}FAQ - University of Tampa CIRT{% endblock %}


{% block content %}
<!-- Main Content -->
<div class="faq-container">
    <h1>FAQs</h1>
    <div class="faq-item">
        <h3>What is CIRT?</h3>
        <p>The Criminology Institute of Research Technology (CIRT) is a platform for academic research and collaboration in criminology and criminal justice.</p>
    </div>
    <div class="faq-item">
        <h3>How do I register for an account?</h3>
        <p>You can register by clicking the "Register" button on the homepage and filling out the registration form.</p>
    </div>
    <div class="faq-item">
        <h3>How can I access journals and research materials?</h3>
        <p>Once logged in, you can navigate to the "Journals" section to explore available research materials.</p>
    </div>
    <div class="faq-item">
        <h3>Who can I contact for support?</h3>
        <p>If you need assistance, please contact our support team at support@cirt.utampa.edu.</p>
    </div>
</div>
{% endblock %}
