{% extends 'base.html' %}
{% block title %}University of Tampa CIRT Website{% endblock %}

{% block content %}
    <div class="background-section">

        <!-- quote above search bar -->
        <nav>
            <p>
                Connecting Minds. <br>
                Empowering Change. <br>
                Inspiring Innovation.
            </p>

        </nav>
        <!-- search bar with filter button -->
    <div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
            <g>
                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
            </g>
        </svg>
        {% load static %}
        <input id="search-input" placeholder="Search" type="search" class="input">
        <img id="filter-btn" src="{%static 'filter.png' %}" alt="Filter" class="filter-icon"  onclick="toggleFilter()">
    </div>

    <!-- Filter options -->
    <div id="filter-options" class="filter-dropdown">
        <label><input type="radio" name="filter" value="All" checked> All</label>
        {% for category in categories %}
        <label><input type="radio" name="filter" value="{{ category.id }}">{{ category.name }}</label>
        {% endfor %}
    </div>
    </div>

    <div style="margin-top: 40px; margin-left: 18.5%; width: 60%;">
        <h2 style="color: #333; text-transform: uppercase; margin: 0;">Latest Posts</h2>
        <hr style="background-color: #a6192e; height: 3px; border: none;">
    </div>

    <div id="latest-posts" style="margin-top: 20px; margin-left: 2%; width: 93.5%;">
    </div>

    <!-- Modal (for all featured posts) -->
    <div id="modal" class="modal" style="display: none;">
        <div id="modal-content" class="modal-content">
            <!-- Modal content will be injected here -->
        </div>
    </div>

{% endblock %}

