<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals - University of Tampa CIRT</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'login_page.css' %}">

    <script src="{% static 'homepage.js' %}"></script>
    <script src="{% static 'auth.js' %}"></script>

</head>
<body class="no-scroll">

    <div class="header-login">
        CRIMINOLOGY INSTITUTE OF RESEARCH TECHNOLOGY
    </div>

    <div class="background-section_login"></div> <!-- Background image -->

    <!-- You can add main content here -->
    <div class="login-container">
        <div class="login-box">
            {% load static %}
            <a href="{% url 'homepage' %}">
                <img src="{% static 'utampa_logo.png' %}" alt="CIRT Logo" class="login-logo">
            </a>

            <div class="thin-bar-login"></div>
            <form id="auth-form" data-action="{% url 'login' %}">
                {% csrf_token %}
                <h2 class="login-sub-title" id="form-title">Login</h2>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <div class = 'error-message' id="response-message" role="alert">
                    ::before
                    <span class="icon-error">
                        ::before
                    </span>
                    <p></p>
                </div>
            </form>
            <div id="auth-links">
                <a href="#" class="login-sub-info" onclick="switchForm('signup')" id="signup-link" data-url="{% url 'signup' %}">Sign Up</a>
                <b class="login-sub-info">|</b>
                <a href="#" class="login-sub-info" onclick="switchForm('reset')" id="reset-link" data-url="{% url 'reset_password' %}">Reset Password</a>
                <b class="login-sub-info">|</b>
                <a href="#" class="login-sub-info" onclick="switchForm('forgot')" id="forgot-link" data-url="{% url 'forgot_username' %}">Forgot Username</a>
                <b class="login-sub-info">|</b>
                <a href="#" class="login-sub-info" onclick="switchForm()" id="forgot-link" data-url="{% url 'login' %}">Login</a>
            </div>
        </div>
        <div id="notification" style="display: none; padding: 10px; margin-top: 10px; background-color: #e0f7fa; color: #00796b;"></div>

    </div>
<script src="{%  static 'auth.js' %}" defer></script> <!-- Ensure the script runs after the DOM is loaded -->
</body>
</html>
