{% extends 'base.html' %}
{% load static %}
{% block title %}Saved Journals - University of Tampa CIRT{% endblock %}

{% block content %}
<!-- Top navigation bar -->
<div class="dashboard-navbar">
    <span id="profileBtn">Profile</span>
    <span id="pendingBtn">Pending Journals</span>
    <span id="feedbackBtn">Reviewed Journals</span>
</div>
<hr class="dashboard-divider">

<!-- Dashboard content area -->
<div id="dashboard-content" class="dashboard-content"></div>


<script src="{% static 'reviewer_dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'reviewer_dashboard.css' %}">
{% endblock %}
