{% extends 'base.html' %}
{% block title %}Terms and Conditions - University of Tampa CIRT{% endblock %}

{% block content %}
    <!-- Main Content -->
    <main>
    <h1>Terms and Conditions</h1>
    <p>Welcome to the Criminology Institute of Research and Training website. By accessing or using this website, you agree to be bound by the following terms and conditions:</p>
    <ul>
        <li><strong>Use of Content:</strong> All content provided is for educational and informational purposes only.</li>
        <li><strong>Privacy:</strong> we hate ur privacy and will sell your data to tiktok.</li>
        <li><strong>Access:</strong> dont boof up our website plz.</li>
        <li><strong>Copyright:</strong> Copyright and we sue.</li>
        <li><strong>Modifications:</strong> We reserve the right to update these terms at any time without prior notice.</li>
    </ul>
    <p>If you do not agree to these terms, then dip bruh.</p>
    </main>
{% endblock %}
